<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="838989">  <td>18/04/17 14:50:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UsingExcel.setUp()[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:04</td>   <td>4668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:09</td>   <td>10142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:15</td>   <td>15495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:20</td>   <td>20859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:26</td>   <td>26215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:31</td>   <td>31673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:36</td>   <td>37030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:42</td>   <td>42411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:47</td>   <td>47823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:53</td>   <td>53201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UsingExcel.testUsingExcel(java.lang.String, java.lang.String)[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">testUsingExcel</td> 
  <td>main@2068434592</td>   <td></td> </tr>
<tr bgcolor="838989">  <td>18/04/17 14:51:58</td>   <td>58576</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UsingExcel.tearDown()[pri:0, instance:DataDrivenTest.UsingExcel@2d928643]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2068434592</td>   <td></td> </tr>
</table>
