@import url(general.css);
@import url(ribbon.css);

.container {
    color: #333333;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

input[type="text"], input[type="email"] {
    width: 200px;
}

input {
    display: block;
    margin-bottom: 25px;
}

input:last-of-type {
    display: block;
    margin-bottom: 25px;
}

label {
    margin-top: 25px;
}

.validation-error {
    color: red;
}