body {
    background-color: rgb(227, 227, 227);
}

.container {
    border-color: rgb(204, 204, 204);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    padding-top: 15px;
    
    display: table;
    padding-bottom: 10px;
    width: 900px;
    margin: 30px auto;
    
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.58);
}

button {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button:hover {
    background: #aaa;
}